<!DOCTYPE html>
<html lang="en">
<head>
<style>
#myHeader {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
	font-family: "Arial Black";
}
</style>
</head>
<body>

<form method="post" id="myHeader">
<label for="username">Username:</label>
<input type="text" name="username"><br>
<label for="password">Password:</label>
<input type="password" name="password"><br>
<label for="email">Email:</label>
<input type="email" name="email"><br>
<input type="submit" value="Login">
</form>
</body>
</html>
